.categoriesSection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 50px;
    margin-bottom: 50px;
}

.categorie{
    position: relative;
    text-align: center;
    color: white;
    height: 400px;
    width: 100%;
    cursor: pointer;
}

.a{
    height: 400px;
    width: 40%;
}

.bottom-left{
    position: absolute;
    bottom: 28px;
    left: 26px;
    margin: 0;
    color: white;
    font-weight: bolder;
    font-size: 25px;
}



@media screen and (max-width: 768px){
    .a{
      width: 90%;
    }
    .categoriesSection{
        gap: 20px;
    }
}