.footer{
    height: 50vh;
    border-style: solid none none none;
    border-width: 0.1px;
    border-color: rgb(212, 212, 212);
    background-color: rgb(39, 39, 39);
    display: flex;
    justify-content: space-between;
}


.d1{
  width: 25%;
  margin-top: 60px;
  margin-left: 10%;
}

.d2{
  width: 25%;
  margin-top: 65px;
}

.d3{
  width: 25%;
  margin-right: 10%;
  margin-top: 65px;
  gap: 15px;
}

.icnDv{
    flex-direction: column;
    gap: 10px;
}

.title{
    color: white;
    margin-bottom: 30px;
    font-size: 40px;
}

.desc{
    color: white;
    width: 95%;
    text-align: justify;
    font-size: 15px;
}

.cst{
    color: white;
    font-size: 20px;
}

.nmbr{
    color: white;
    font-size: 18px;
}

.flw{
    color: white;
    font-size: 20px;
}

.icnFtr{
    color: white;
    height: 30px;
    width: 30px;
}

.icnFtr2{
    color: #0072b1;
    height: 30px;
    width: 30px;
}

.lstQst{
    color: white;
    font-size: 20px;
}


@media screen and (max-width: 768px) {
    .footer{
        height: 90vh;
        display: flex;
        align-items: center;
        justify-content: unset;
        flex-direction: column;
        padding: 30px;
        background-color: rgb(39, 39, 39);
    }
     
    .d1{
        width: 100%;
        margin: 0px;
        align-items: center;
      }
      
      .d2{
        width: 100%;
        margin: 0px;
      }
      
      .d3{
        width: 100%;
        margin: 0px;
        gap: 0;
      }

    .title{
        font-size: 30px;
        margin-bottom: 0;
        color: white;
    }

    .icnDv{
        flex-direction: row;
        gap: 10px;
    }

    .cst{
        color: white;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .nmbr{
        font-size: 14px;
        color: white;
        margin-bottom: 30px;
    }
    .flw{
        font-size: 12px;
        color: white;
        font-weight: 100;
    }
    .icnFtr{
        height: 20px;
        width: 20px;
        color: white;
    }
    .icnFtr2{
        height: 20px;
        width: 20px;
        color: #0072b1;
    }
    .lstQst{
        color: black;
        font-size: 18px;
        margin-top: 30px;
        cursor: pointer;
        margin-left: 10px;
        margin-bottom: 0;
        color: white;
    }
    .desc{
        text-align: justify;
        color: black;
        margin-top: 20px;
        margin-bottom: 50px;
        color: white;
        width: 90%;
    }
}