.homeImg{
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 82.5vh;
    object-fit: contain;
}

.hero{
    background-color:  #062143 ;
    margin-bottom: 70px;
}

@media screen and (max-width: 768px) {
   .hero{ margin-bottom: 30px;}
}
/* #062044 */