

.allCats{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

@media screen and (max-width: 768px) {
    .allCats{
        justify-content: center;
    }
    .linkSize{
        font-size: 10px;
    }
}

.dv{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    align-items: center;
}